<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rharshit.winddown">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".Music.MusicList"></activity>
        <activity android:name=".Notes.TakeNotes" />
        <activity android:name=".Camera.Camera" />
        <activity android:name=".Music.Music" />
        <activity android:name=".Weather.Weather" />
        <activity android:name=".Notes.Signup" />
        <activity android:name=".Notes.Login" />
        <activity
            android:name=".Notes.Notes"
            android:label="@string/title_activity_notes"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity android:name=".Gallery.Gallery" />
        <activity android:name=".Messages.Messages" />
        <activity android:name=".Contacts.Contacts" />
        <activity android:name=".Phone.Phone" />
        <activity android:name=".Weather.WeatherActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gallery.AlbumActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Gallery.GalleryPreview"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Messages.NewSmsActivity" />
        <activity android:name=".Messages.Chat" /> <!--  -->
        <service
            android:name=".Util.NotificationListener"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>